body{
    background-color:darkgray;
    color:white;
}

.content{
    padding: 3%;
}

.gray{
    background-color: gray;
    padding: 4%;
}

.pink{
    background-color: pink;
    padding: 4%;
}